
*~

*.log
*.tmp
*.tmp.*
log.txt

.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/

platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
.env
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
